.popup {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter, Arial, sans-serif;
  opacity: 0;
  visibility: hidden;
  transition: visibility .3s,opacity .3s ease;
  z-index: 1;
}