.popup__button-save {
  margin-top: 48px;
  padding: 16px 0 14px;
  background: #000;
  border-radius: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  color: #fff;
  cursor: pointer;
  border: none;
  text-align: center;
  transition: opacity .3s ease;
}

.popup__button-save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .popup__button-save {
    margin-top: 43px;
    padding: 14px 0;
    max-width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}