.element__waste-bin {
  padding: 0;
  background: center / cover url(../../../images/wasteBin.svg);
	position: absolute;
  border: none;
	right: 20px;
	top: 20px;
	width: 18px;
	height: 19px;
}

.element__waste-bin:hover {
	opacity: 0.6;
	cursor: pointer;
}