.popup__heading {
  color: #000;
  font-weight: 900;
  line-height: 22px;
  font-size: 24px;
  margin: 0 auto 47px 0;
  text-align: start;
}

@media screen and (max-width: 520px) {
  .popup__heading {
    margin: 28px auto 73px;
    font-size: 18px;
  }
}