.popup__button-close {
  width: 32px;
  height: 32px;
  background-image: url(../../../images/CloseIcon.svg);
  position: absolute;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  right: -39px;
  top: -41px;
}

.popup__button-close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 520px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0px;
    top: -35px;
  }
}