.element__button-like {
  margin: 31px 0 0;
  padding: 0;
  background-image: url(../../../images/like.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 19px;
  width: 22px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  grid-area: like;
}

.element__button-like:not(.element__button-like_active):hover {
	opacity: 0.5;
}